# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/
.venv-1/
env/
ENV/

# Environment Variables
.env
.env.local
.env.production

# Database
db.sqlite3
*.sqlite3

# Django
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Celery
celerybeat-schedule
celerybeat.pid